.signinDiv {
  width: 30vw;
  height: 70vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  /* background-color: aqua; */
  flex-direction: column;
}

.heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}

.divider {
  /* text-align: center; */
  margin-bottom: 16px !important;
}

.policy {
  font-size: 14px;
  line-height: 19px;
  color: #585c5c;
}

.link {
  color: #00b8a9;
  text-decoration: underline;
}
